/* PaperSubmissionForm.css */
.paper-submission-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .back-button {
    margin-bottom: 20px;
  }
  
  .page-title {
    color: #1d4ed8;
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
  }
  
  .subheading {
    color: #b808b8;
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
  }
  
  .form-container {
    border: 1px dashed #fff;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    color: #1d4ed8;
    font-family: 'Abhaya Libre', cursive;
    font-size: 20px;
    font-weight: 900;
    
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    border-radius: 10px;
    
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }
  
  .file-upload-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  
  .file-upload-container label {
    cursor: pointer;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 15px;
    color: #1d4ed8;
    display: inline-block;
    font-family: 'Abhaya Libre', cursive;
    font-size: 20px;
    font-weight: 900;
  }
  
  .file-upload-container p {
    margin-top: 10px;
  }
  
  .submit-button {
    
    color: white;
    padding: 20px 20px;
    background-color: #1d4ed8;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .page-title {
      font-size: 1.25rem;
    }
  
    .subheading {
      font-size: 1.1rem;
    }
  
    .form-container {
      padding: 15px;
    }
  
    .form-group input,
    .form-group textarea {
      padding: 8px;
    }
  
    .file-upload-container {
      padding: 15px;
    }
  
    .submit-button {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .paper-submission-container {
      padding: 15px;
    }
  
    .page-title {
      font-size: 1.1rem;
    }
  
    .subheading {
      font-size: 1rem;
    }
  
    .form-group input,
    .form-group textarea {
      padding: 8px;
    }
  
    .file-upload-container {
      padding: 10px;
    }
  
    .submit-button {
      padding: 12px;
      font-size: 1rem;
    }
  }
  